<div data-aos ="fade-down" class="list-card" style ="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://source.unsplash.com/random/?<%= list.name%> movies')">
  <p>
    <h2><%= list.name.capitalize %></h2>
  </p>
</div>
