<div class="home-navbar">
<%= link_to "+ New list", new_list_path, class:"button-list", "data-controller":"turbo" %>
</div>
<%= render "banner" %>
  <div class="lists">
    <% @lists.each do |list| %>
      <%= link_to list do %>
        <%= render list %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
