<div class="home-navbar">
<%= link_to "+ New list", new_list_path, class:"button-list" %>
</div>
<%= render "banner" %>
<div class="container">
  <div id="lists">
    <% @lists.each do |list| %>
      <%= link_to list do %>
        <%= render list %>
        <p>
        </p>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
