.show-cards {
  display: flex;
  margin: 1.5rem 0px;
  box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.3);

  img {
    width: 25%;
    object-fit: cover;

  }

  .show-overview {
    color:gray;
  }

  a{
    color: rgba($color: #ff0101, $alpha: 0.5)
  }

  h4 {
    font-size: medium;
  }

  .show-card-title {
    display: flex;
  }

  .show-card-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .show-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}

.show-review {
  box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.3);

  .show-review-header {
    margin-bottom: 1rem;
    padding: 0.5rem;
    color: white;
    background-color: rgba($color: #1d3878, $alpha: 1.0);
  }

  .show-review-content {
    padding: 0.5rem;
  }
}
